.admin {
    min-height: 50vh;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

@media (max-width: 650px) {
    .admin {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.userTable {
    padding-left: 1%;
	padding-right: 1%;
}

.greenText {
    color: greenyellow
}
