.section-card {
    min-height: 150px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-img {
    width: 100%;
    margin: 10px;
}

.card-content {
    margin: 10px;
}

.link-card:hover {
    cursor: pointer;
}