#basic-navbar-nav{
    background-color: white;
    padding: 10px;
}

#build {
    display: inline-block;
}

#build .nav-link {
    color: white;
}

#navlinks-right {
    margin-right: 10px;
}

#navlinks-right img {
    margin-right: 5px;
}